doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        title='سامانه اطلاعات کاربری'
        link(rel='stylesheet' href='/styles/normalize.css')
        link(rel='stylesheet' href='/styles/fonts.css')
        link(rel='stylesheet' href='/styles/main.css')
        block header
    body
        #container
            .header
                h2(style="text-align:center;color:#6778e2;padding: 0.4rem 0")="مرکز رایانه و فناوری اطلاعات"
                h3(style="text-align:center;color:#6673c1;margin-top:-1.5rem;padding: 0.4rem 0")="بیمارستان شهید باهنر"
            .divider
            block content