@font-face {
    font-family: 'nice-medium';
    src: url('./fonts/IRANSansWeb-Medium.eot');
    src: url('./fonts/IRANSansWeb-Medium.eot?#iefix') format('embedded-opentype'),
        url('./fonts/IRANSansWeb-Medium.woff2') format('woff2'),
        url('./fonts/IRANSansWeb-Medium.woff') format('woff'),
        url('./fonts/IRANSansWeb-Medium.ttf') format('truetype'),
        url('./fonts/IRANSansWeb-Medium.svg#IRANSansWeb-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'nice';
    src: url('./fonts/IRANSansWeb.eot');
    src: url('./fonts/IRANSansWeb.eot?#iefix') format('embedded-opentype'),
        url('./fonts/IRANSansWeb.woff2') format('woff2'),
        url('./fonts/IRANSansWeb.woff') format('woff'),
        url('./fonts/IRANSansWeb.ttf') format('truetype'),
        url('./fonts/IRANSansWeb.svg#IRANSansWeb') format('svg');
    font-weight: normal;
    font-style: normal;
}
