html{
    font-size: 62.5%;
    direction: rtl;
    font-family: nice !important;
    height:100%;
}
body{
    height: 100%;
}
a{
    text-decoration: none;
}
.border{
    border:1px solid rgb(206, 206, 206);
    border-radius: 12px;
    position: absolute;
    top: 45%;
    left: 50%;
    margin-left: -300px;
    width: 600px;
    height: 200px;
    margin-top: -20px;
}
.divider{
    margin-top: 9rem;
}
.nouser{
    font-family: nice-medium !important;
    font-size:1.6rem;
    padding: 2rem;
    text-align: center;
    
}
.pdf-link{
    text-align: center;
    display: inline-block;
    margin:0 0.5rem;
}
#container{
    width : 80%;
    height: 100%;
    margin: 0 auto;
    background:rgb(236, 236, 236);
    padding-top: 0.1px; /*fix collapsing issue*/
    -webkit-box-shadow: inset 10px 0px 5px -6px rgba(0,0,0,0.17),inset -10px 0px 5px -6px rgba(0,0,0,0.17);
    -moz-box-shadow: inset 10px 0px 5px -6px rgba(0,0,0,0.17),inset -10px 0px 5px -6px rgba(0,0,0,0.17);
    box-shadow: inset 10px 0px 5px -6px rgba(0,0,0,0.17),inset -10px 0px 5px -6px rgba(0,0,0,0.17);
}
.header{
    background-color: #e0e0e0;
    -webkit-box-shadow: inset 10px 0px 5px -6px rgba(0,0,0,0.17),inset -10px 0px 5px -6px rgba(0,0,0,0.17);
    -moz-box-shadow: inset 10px 0px 5px -6px rgba(0,0,0,0.17),inset -10px 0px 5px -6px rgba(0,0,0,0.17);
    box-shadow: inset 10px 0px 5px -6px rgba(0,0,0,0.17),inset -10px 0px 5px -6px rgba(0,0,0,0.17);
}
.btn {
    display: inline-block;
    min-width: 110px;
    margin: 15px 5px;
    padding: 10px 15px 12px;
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 1px rgba(0, 0, 0, 0.1), inset 0 -10px 20px rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }
  .btn.pri.green {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
    background: #6b6;
  }
  .btn.pri.green:hover {
    background: #5a5;
  }
  .btn.pri.red {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
    background: #d33;
  }
  .btn.pri.red:hover {
    background: #c22;
  }